body {   
    margin: 0;   
}
.main_container {  
    background-image: url('../../Images/background.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 75%;  
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.restartButton {
    background-color:  #22074d;  
    color: white;  
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.restartButton:hover {
    background-color: mediumblue; 
}